<h1>タイマーの部屋</h1>
<div>
  タイマーボタン<br>
  <i id="play-btn" class="fa fa-solid fa-play"></i>
  <i id="rotate-btn" class="fa fa-solid fa-rotate-left"></i>
</div>
<div id="timer" data-time = <%= @time %> ><%= @time %></div>
<br>

<div>
  リピートタイマー<br>
  <i id="play-btn2" class="fa fa-solid fa-play"></i>
</div>
<div id="timer2" data-time = <%= @time %> ><%= @time %></div>

<audio id="audio1" src="sounds/警官のホイッスル1.mp3"></audio>
<audio id="audio2" src="sounds/警官のホイッスル2.mp3"></audio>
<audio id="audio3" src="sounds/試合終了のゴング.mp3"></audio>