<h1>タイマーの部屋</h1>
<div>
  タイマーボタン
  <i id="timer-btn" class="fa fa-solid fa-play"></i>
</div>
<div id="timer" data-time="20">20</div>

<audio id="audio1" src="sounds/警官のホイッスル1.mp3"></audio>
<audio id="audio2" src="sounds/警官のホイッスル2.mp3"></audio>
<audio id="audio3" src="sounds/試合終了のゴング.mp3"></audio>