<h1>ボタンを押したら音が鳴る！</h1>

<div>
  警官のホイッスル
  <i id="whistle" class="fa fa-solid fa-music"></i>
</div>
<audio id="audio1" src="sounds/警官のホイッスル1.mp3"></audio>
<audio id="audio2" src="sounds/警官のホイッスル2.mp3"></audio>

<div>
  試合のゴング
  <i id="bell" class="fa fa-solid fa-bell"></i>
</div>
<audio id="audio3" src="sounds/試合開始のゴング.mp3"></audio>
<audio id="audio4" src="sounds/試合終了のゴング.mp3"></audio>