.fa {
  font-size: 50px;
  color: gray;
}

#whistle {
  color: gray;
}

#whistle.active {
  color: gold;
}

#bell {
  color: gray;
}

#bell.active {
  color: gold;
}

#play-btn {
  color: gray;
}

#play-btn.active {
  color: gold;
}

#rotate-btn {
  color: gray;
}

#rotate-btn.active {
  color: green;
}

#play-btn2 {
  color: gray;
}

#play-btn2.active {
  color: gold;
}